<h1>Stupid Coaching</h1>

<h5><%= @question %></h5>

<p><em>- You</em></p>

<h5><strong><%= @answer %></strong></%></h5>

<p><em> - Your coach</em></p>


<%= link_to "Ask another question", ask_path %>
